<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weekday </title>
</head>
<body>
    <%- include('d:/Node/2.1 Using Node/ejs/views\header.ejs') %>
    <h1> hey its <%= daytype %>, so <%= advice %></h1>
</body>
</html>